/* body.css */
.outlet {
    background-color: #0E1110; /* Altere para a cor desejada */
    padding: 20px; /* Adicione padding se desejar */
    min-height: calc(100vh - 100px); /* Ajuste a altura conforme necessário */
    color: white;
}

.footer {
  background-color: #3D3D3C;
  padding-top: 10px;
  color: white;
}

.navbar{
  background-color: #3D3D3C;
}

.link-custom {
  color: white; /* Cor inicial branca */
  text-decoration: none;
}

.link-custom:hover {
  color: #0d6efd; /* Azul personalizado semelhante ao Bootstrap */
  text-decoration: underline;
  text-decoration-color: rgba(13, 110, 253, 0.75); /* Sublinhado com opacidade */
}


